body{
	text-align:center; 
	width:950px;
}

#navi1{
	background-color:#666666;
	margin-left:150px;
	padding-left:100px;
	width:900px;
	height:50px;
	border-radius:15px;
}
#mark{
	position:absolute;
	z-index:1000;
	background-color:#386;
	width:200px;
	height:50px;
}
#navi1>div>p{
	color:#ffffff;
	margin-left:67px;
	position:absolute;
	z-index:1100;
}
#opt1, #opt2, #opt3, #opt4{
	background-color:#888888;
	width:200px;
	height:50px;
	float:left;
}
#links1>div{
	display:none;
	text-align:center;
	float:left;
	width:200px;
	padding-top:9px;
	padding-bottom:9px;
	background-color:#999999;
}
#links1{
	margin-left:250px;
	width:800px;
	height:70px;
}

#navi2{
	margin-left:150px;
	width:1600px;
	margin-top:-20px;
}
#mark{
	margin-top:16px;
	position:absolute;
	z-index:1;
	background-color:#386;
	width:200px;
	height:50px;
}
#navi2>div>div>p{
	position:relative;
	z-index:100;
	color:#ffffff;
	text-align:center;
	padding-top:15px;
}
#edge1{
	margin-top:16px;
	border-radius:15px 0px 0px 15px;
	width:100px;
	height:50px;
	background-color:#777777;
}
#edge2{
	margin-top:16px;
	border-radius:0px 15px 15px 0px;
	width:100px;
	height:50px;
	background-color:#777777;
}
#opt2a, #opt2b, #opt2c, #opt2d, #edge1, #edge2{
	float:left;
}
#opt2a-title, #opt2b-title, #opt2c-title, #opt2d-title{
	width:200px;
	height:50px;
	background-color:#777777;
}
#opt2a-content, #opt2b-content,#opt2c-content, #opt2d-content{
	display:none;
	position:absolute;
	z-index:1000;
	width:200px;
	height:80px;
	background-color:#999999;
}

#btns1{
	z-index:1000;
	bottom:5px;
	position:absolute;
	margin-left:200px;
	text-align:center;
	padding-left:170px;
	background-color:#666666;
	height:30px;
	opacity:0.6;
width:530px; }
#btn1a, #btn1b, #btn1c, #btn1d{
	z-index:1100;
	margin-left:50px;
	padding-top:5px;
	float:left;
	width:30px;
	height:24px;
	opacity:1;
	background-color:#ffffff;
}
#pics1{
	margin-top:-34px;
	margin-left:200px;
	width:700px;
	height:399px;
}
#pics1 img{
	position:absolute;
}
#div1{
	margin-left:100px;
	width:400px;
	position:relative;
}
#img1a, #img1b, #img1c, #img1d{
	position:relative;
}

#frame{
	margin-left:300px;
	width:700px;
	overflow:hidden;
}
#btn2a, #btn2b{
	margin-left:410px;
	font-size:30px;
	float:left;
	background-color:#923;
}
#pics2{
	width:3000px;
	overflow:hidden;
	position:relative;
}
